Repository Ahoymeansiamhorny/vairocana: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}', stylelint '{**/*,*}.{scss}'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore", "prettier --write"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": ["prettier --write--parser json"],
  "package.json": ["prettier --write"],
  "*.vue": ["eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore", "prettier --write", "stylelint '{**/*,*}.{vue}'"],
  "*.{scss,less,styl,html}": ["stylelint '{**/*,*}.{scss}'", "prettier --write"],
  "*.md": ["prettier --write"]
}

feat: update
  src/views/form/component/intermediateFrom.vue
  src/views/form/component/text.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

feat: update
  src/views/form/component/intermediateFrom.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

fix: favicon.ico
  index.html
  public/favicon.ico
Due: prettier --write, stylelint '{**/*,*}.{scss}'

Update default.conf
  config/nginx/conf.d/default.conf
Due: none

set
  .env.development
  package-lock.json
  src/components/SearchForm/index.vue
  src/languages/modules/zh.js
  src/views/form/component/beginnerFrom.vue
  src/views/form/component/text.vue
  yarn.lock
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

first commit
  README.md
Due: prettier --write

feat:gender
  package-lock.json
  src/views/form/component/beginnerFrom.vue
  yarn.lock
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'
