Repository Ahoymeansiamhorny/vairocana: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}', stylelint '{**/*,*}.{scss}'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore", "prettier --write"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": ["prettier --write--parser json"],
  "package.json": ["prettier --write"],
  "*.vue": ["eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore", "prettier --write", "stylelint '{**/*,*}.{vue}'"],
  "*.{scss,less,styl,html}": ["stylelint '{**/*,*}.{scss}'", "prettier --write"],
  "*.md": ["prettier --write"]
}

add ci
  .gitlab-ci.yml
  Dockerfile
Due: none

fix: vite url
  .env.production
Due: none

add api path
  config/nginx/conf.d/default.conf
Due: none

fix port
  config/nginx/conf.d/default.conf
Due: none

feat: update
  .env
  .env.development
  src/App.vue
  src/languages/index.js
  src/languages/modules/zh.js
  src/layouts/components/Header/ToolBarRight.vue
  src/views/agent/accountManage/components/UserDrawer.vue
  src/views/agent/log/login.vue
  src/views/form/component/from.vue
  src/views/form/list.vue
  src/views/home/index.vue
  src/views/login/components/LoginForm.vue
  src/views/login/index.scss
  src/views/login/index.vue
  src/views/member/account/components/dialog.vue
  src/views/member/account/index.vue
  src/views/member/log/login.vue
  src/views/product/ImportExcel/index.scss
  src/views/product/ImportExcel/index.vue
  src/views/product/numberList/components/drawer.vue
  src/views/product/numberList/index.vue
  src/views/purchase/components/cashSettlement.vue
  src/views/purchase/components/changeNumber.vue
  src/views/purchase/components/completed.vue
  src/views/purchase/components/confirm.vue
  src/views/purchase/components/detail.vue
  src/views/purchase/components/reference.vue
  src/views/purchase/components/refund.vue
  src/views/purchase/number/list.vue
  src/views/report/commission-summary/index.vue
  src/views/report/commission/index.vue
  src/views/report/product/contribution/index.vue
  src/views/setting/index.scss
  src/views/setting/index.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}', stylelint '{**/*,*}.{scss}'

fix: api
  src/views/form/list.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

fix: api
  src/api/form/form.js
  src/views/form/list.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

feat: update
  src/views/form/component/from.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

fix: api
  src/views/form/component/from.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

fix: api
  src/views/form/component/from.vue
  src/views/form/list.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

fix: api
  src/layouts/components/Header/ToolBarRight.vue
  src/views/form/list.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

fix: api
  src/views/login/components/LoginForm.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

fix: api
  src/languages/modules/zh.js
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write

feat: update
  src/layouts/components/Header/components/Avatar.vue
  src/views/form/component/from.vue
  src/views/login/index.scss
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}', stylelint '{**/*,*}.{scss}'

feat: update
  index.html
Due: prettier --write, stylelint '{**/*,*}.{scss}'

feat: update
  src/App.vue
  src/views/form/component/from.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

fix: api
  src/App.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

feat: update
  src/assets/images/new_avatar.png
  src/components/SearchForm/index.vue
  src/languages/modules/zh.js
  src/layouts/LayoutClassic/index.vue
  src/layouts/components/Header/components/Avatar.vue
  src/utils/index.js
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

fix: ti8tle
  index.html
Due: prettier --write, stylelint '{**/*,*}.{scss}'

feat: update
  .env.development
  src/components/SearchForm/index.vue
  src/languages/modules/zh.js
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

feat: update
  index.html
  public/favicon.ico
  src/App.vue
  src/components/ProTable/index.vue
  src/languages/modules/zh.js
  src/layouts/components/Header/components/Avatar.vue
  src/layouts/components/Header/components/ThemeSetting.vue
  src/layouts/components/ThemeDrawer/index.vue
  src/views/form/list.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}', stylelint '{**/*,*}.{scss}'

feat: update
  src/languages/modules/zh.js
  src/views/form/list.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

feat: update
  src/views/copy/component/from.vue
  src/views/copy/list.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

fix: tittle
  src/languages/modules/zh.js
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write

feat: update
  src/views/copy/component/intermediateFrom.vue
  src/views/form/beginner.vue
  src/views/form/component/beginnerFrom.vue
  src/views/form/component/intermediateFrom.vue
  src/views/form/intermediate.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

fix: api
  src/api/form/form.js
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write

feat: update
  src/views/form/component/beginnerFrom.vue
  src/views/form/component/intermediateFrom.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

feat: update
  src/views/form/beginner.vue
  src/views/form/component/intermediateFrom.vue
  src/views/form/intermediate.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

feat: update
  src/languages/modules/zh.js
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write

feat: update
  src/views/form/component/intermediateFrom.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

feat: update
  src/views/copy/component/intermediateFrom.vue
  src/views/form/component/beginnerFrom.vue
  src/views/form/component/intermediateFrom.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

feat: update
  src/views/copy/component/intermediateFrom.vue
  src/views/copy/list.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'

fix: uoload
  src/views/form/component/beginnerFrom.vue
Due: eslint . --ext .vue,.js,.jsx,.cjs,.mjs --fix --ignore-path .gitignore, prettier --write, stylelint '{**/*,*}.{vue}'
